In [1]:
import pandas as pd
import os

#Import various files and save as different datasets

xls_1 = pd.ExcelFile("./dataset-phase2/Target4.1 (1).xlsx")
xls_2 = pd.ExcelFile("./dataset-phase2/Target4.2.xlsx")
xls_3 = pd.ExcelFile("./dataset-phase2/Target4.3.xlsx")
xls_4 = pd.ExcelFile("./dataset-phase2/Target4.4 .xlsx")
xls_4c = pd.ExcelFile("./dataset-phase2/Target4.c.xlsx")
xls_5 = pd.ExcelFile("./dataset-phase2/Target4.5.xlsx")
xls_6 = pd.ExcelFile("./dataset-phase2/Target4.6.xlsx")

df_1 = pd.read_excel(xls_1, 'Data')
df_2 = pd.read_excel(xls_2, 'Data')
df_3 = pd.read_excel(xls_3, 'Data')
df_4 = pd.read_excel(xls_4, 'Data')
df_4c = pd.read_excel(xls_4c, 'Data')
df_5 = pd.read_excel(xls_5, 'Data')
df_6 = pd.read_excel(xls_6, 'Data')

df_meta = pd.read_excel(xls_1, 'Country - Metadata')
df_meta=df_meta.iloc[:,[0,2]]
df_meta.rename(columns = {'Code':'Country Code'}, inplace = True)

In [2]:
#Concatenating all the dataframes

df = pd.concat([df_1,df_2,df_3,df_4,df_4c,df_5,df_6])
df.drop(df.columns[[4, 5, 21]], axis = 1 , inplace = True)
df

,Series Name,Series Code,Country Name,Country Code,2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Albania,ALB,NaN,NaN,11.10173,12.94225,12.36399,10.97244,7.77925,4.58103,2.40796,2.20127,2.34458,2.22159,2.55779,2.10689,3.84193
2,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Algeria,DZA,4.35603,4.10927,2.73105,1.00285,1.07932,0.91279,0.85005,NaN,NaN,0.68412,0.72481,0.51463,0.35250,0.29730,0.17700
3,Children out of school (% of primary school age),SE.PRM.UNER.ZS,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,Last Updated: 07/20/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Deleting rows with less than three values

df = df[df.iloc[:,4:19].isnull().sum(axis=1) < 12]
df.shape

(3373, 19)

### Imputing with backward-fill 
Chosen imputator is bfill based on the step 1 & 2

In [4]:
#Back filling NaN values
df=df.bfill(axis='rows')

#Filling NaN values with zero
df=df.fillna(0)

In [5]:
# Simplifying year column names
cols = df.columns.tolist()
temp = cols[:4]
years = [i.split()[0] for i in cols[4:]]
cols = temp + years
cols

['Series Name',
 'Series Code',
 'Country Name',
 'Country Code',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020']

In [6]:
# Changing df years columns names
df.columns = cols

In [7]:
#Adding Income Group Column to the datasets

df = pd.merge(df, df_meta, how="left" ,   on='Country Code', suffixes=( None,None))
df.head()

,Series Name,Series Code,Country Name,Country Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Income Group
0,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Albania,ALB,4.35603,4.10927,11.101730,12.94225,12.363990,10.97244,7.77925,4.58103,2.40796,2.20127,2.34458,2.22159,2.55779,2.10689,3.84193,Upper middle income
1,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Algeria,DZA,4.35603,4.10927,2.731050,1.00285,1.079320,0.91279,0.85005,9.08523,5.56714,0.68412,0.72481,0.51463,0.35250,0.29730,0.17700,Lower middle income
2,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Angola,AGO,0.26663,0.90443,17.553089,18.74070,18.090811,18.40073,4.45432,9.08523,5.56714,1.21900,1.36658,2.44945,0.68990,1.72715,10.47731,Lower middle income
3,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Antigua and Barbuda,ATG,0.26663,0.90443,0.650750,1.93801,3.671900,1.72687,4.45432,9.08523,5.56714,1.21900,1.36658,2.44945,0.68990,1.72715,10.47731,High income
4,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Argentina,ARG,0.26663,0.12832,0.182770,0.20719,0.603730,0.56590,0.57176,0.40809,0.09804,0.05630,0.45239,0.43269,0.40345,0.42247,10.47731,Upper middle income

In [8]:
df

,Series Name,Series Code,Country Name,Country Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Income Group
0,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Albania,ALB,4.356030,4.109270,11.101730,12.942250,12.363990,10.972440,7.779250,4.581030,2.407960,2.201270,2.344580,2.221590,2.557790,2.106890,3.841930,Upper middle income
1,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Algeria,DZA,4.356030,4.109270,2.731050,1.002850,1.079320,0.912790,0.850050,9.085230,5.567140,0.684120,0.724810,0.514630,0.352500,0.297300,0.177000,Lower middle income
2,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Angola,AGO,0.266630,0.904430,17.553089,18.740700,18.090811,18.400730,4.454320,9.085230,5.567140,1.219000,1.366580,2.449450,0.689900,1.727150,10.477310,Lower middle income
3,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Antigua and Barbuda,ATG,0.266630,0.904430,0.650750,1.938010,3.671900,1.726870,4.454320,9.085230,5.567140,1.219000,1.366580,2.449450,0.689900,1.727150,10.477310,High income
4,Children out of school (% of primary school age),SE.PRM.UNER.ZS,Argentina,ARG,0.266630,0.128320,0.182770,0.207190,0.603730,0.565900,0.571760,0.408090,0.098040,0.056300,0.452390,0.432690,0.403450,0.422470,10.477310,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3368,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Sub-Saharan Africa,SSF,69.035950,67.649338,67.858093,68.315773,69.207039,70.965172,72.352608,73.154007,73.824341,74.404083,74.906174,75.530632,75.928268,76.315552,76.695801,NaN
3369,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Sub-Saharan Africa (excluding high income),SSA,68.999741,67.611771,67.819977,68.278397,69.171181,70.931961,72.321693,73.124763,73.796654,74.377853,74.881203,75.507088,75.905930,76.294380,76.675728,NaN
3370,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Sub-Saharan Africa (IDA & IBRD countries),TSS,69.035950,67.649338,67.858093,68.315773,69.207039,70.965172,72.352608,73.154007,73.824341,74.404083,74.906174,75.530632,75.928268,76.315552,76.695801,NaN
3371,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Upper middle income,UMC,98.233810,98.453339,98.770782,98.469131,98.450371,98.429451,98.921593,98.876633,99.151001,98.549370,99.222878,99.200150,98.483009,98.517998,98.553329,NaN
3372,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,World,WLD,88.764259,88.667061,89.450722,89.523499,89.567421,89.783257,90.336937,90.674309,90.993301,91.030144,91.447433,91.628906,91.545662,91.729530,91.883980,NaN

In [9]:
df = (df.drop(columns=['Series Code', 'Country Name', 'Country Code'])
        .groupby(['Series Name' , 'Income Group'] , as_index=False )
        .agg("mean")
)

In [10]:
df_final = pd.DataFrame(columns = ["year"] + ["Income Group"] + df["Series Name"].unique().tolist())
df_final["year"] = [year for years in [[year]*4 for year in years] for year in years]
df_final["Income Group"] = [j for i in range(len(years)) for j in df["Income Group"].unique()]
df_final

,year,Income Group,Adolescents out of school (% of lower secondary school age),Children out of school (% of primary school age),"Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, youth total (% of people ages 15-24)","Lower secondary completion rate, total (% of relevant age group)",...,"Pupil-teacher ratio, preprimary","Pupil-teacher ratio, primary","Pupil-teacher ratio, secondary","Pupil-teacher ratio, tertiary","Pupil-teacher ratio, upper secondary","School enrollment, preprimary (% gross)","School enrollment, primary (gross), gender parity index (GPI)","School enrollment, secondary (gross), gender parity index (GPI)","School enrollment, tertiary (% gross)","School enrollment, tertiary (gross), gender parity index (GPI)"
0,2006,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2007,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2007,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2007,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2008,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2008,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2008,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2008,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2009,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2009,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2009,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2009,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2010,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2010,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2010,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2010,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2011,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2011,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2011,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2011,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2012,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2012,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2012,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2012,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2013,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2013,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2013,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2013,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2014,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2014,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2014,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2014,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2015,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2015,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2015,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2015,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2016,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2016,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2016,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2016,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2017,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2017,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2017,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2017,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2018,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2018,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2018,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2018,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2019,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2019,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2019,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2019,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2020,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2020,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2020,Lower middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2020,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
for year in years:
    for income in df["Income Group"].unique():
        df_final.loc[ (df_final["year"] == year) & (df_final["Income Group"] == income) , df_final.columns[2:]] = (
            df.loc[df["Income Group"] == income , year].tolist()
        )

In [12]:
df_final

,year,Income Group,Adolescents out of school (% of lower secondary school age),Children out of school (% of primary school age),"Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, youth total (% of people ages 15-24)","Lower secondary completion rate, total (% of relevant age group)",...,"Pupil-teacher ratio, preprimary","Pupil-teacher ratio, primary","Pupil-teacher ratio, secondary","Pupil-teacher ratio, tertiary","Pupil-teacher ratio, upper secondary","School enrollment, preprimary (% gross)","School enrollment, primary (gross), gender parity index (GPI)","School enrollment, secondary (gross), gender parity index (GPI)","School enrollment, tertiary (% gross)","School enrollment, tertiary (gross), gender parity index (GPI)"
0,2006,High income,6.155169,3.904087,23.301541,21.333299,51.622431,83.362542,88.870872,84.735984,...,16.099969,17.478509,13.472366,14.985666,13.023616,78.489151,0.994012,1.016974,46.985239,1.164359
1,2006,Low income,28.192593,22.878197,1.874835,15.660746,27.423504,43.760358,56.583395,45.772684,...,24.792591,45.604868,26.297712,17.794197,17.820248,28.977899,0.856531,0.687386,21.082746,0.748843
2,2006,Lower middle income,20.498044,13.487747,18.323897,14.416212,36.881478,77.854378,87.169243,62.989652,...,23.154991,31.830334,21.233227,17.121065,20.185691,39.717177,2.829241,0.947733,21.355455,3.219461
3,2006,Upper middle income,11.604179,5.800592,23.664587,15.782875,39.957126,82.459506,90.904478,74.836606,...,18.275924,21.918145,16.819333,14.851143,14.836329,56.934438,0.990928,1.060552,33.451379,1.120241
4,2007,High income,5.753562,3.229874,27.710444,20.355696,55.008063,88.37062,94.259505,85.262985,...,16.008147,16.456563,13.543961,14.377612,13.563056,79.438932,1.003115,1.031052,52.635929,1.178349
5,2007,Low income,24.949068,19.937954,8.8753,13.04233,30.334743,76.972074,86.008695,55.93815,...,25.109169,46.58424,28.485614,21.630911,18.601377,27.602799,0.861779,0.706529,28.420316,0.783484
6,2007,Lower middle income,13.049357,9.589144,23.176944,15.970438,36.368711,80.528309,90.897245,65.002603,...,20.308472,30.767653,19.33181,19.684012,17.823934,43.580779,2.847721,0.928442,22.832464,3.240277
7,2007,Upper middle income,6.449943,5.393575,25.725085,16.438681,43.062278,90.739928,97.818519,79.191528,...,17.924968,21.664466,17.464945,18.298482,15.392033,57.267934,0.981036,1.043603,36.333959,1.15635
8,2008,High income,6.921039,2.947783,25.206317,22.926942,61.233185,94.358715,98.3142,91.199865,...,15.560107,16.534962,14.049828,13.52202,13.323784,79.554133,1.001633,1.032591,51.012276,1.166796
9,2008,Low income,24.464172,18.477182,16.50664,26.519444,33.191715,88.661136,96.240926,47.408014,...,25.825918,49.813401,24.257293,16.19106,18.344722,33.130242,0.884908,0.714477,17.639749,0.667603
10,2008,Lower middle income,14.206053,10.532748,18.357277,15.625655,40.045565,84.595892,94.614372,65.550935,...,20.468755,31.107726,20.365427,18.951274,17.976286,45.064494,2.786787,0.953304,24.759454,3.150942
11,2008,Upper middle income,6.468241,6.163369,23.991068,16.40318,47.33252,92.691441,98.545024,81.192043,...,18.280791,20.985012,17.13956,14.844281,15.185689,58.080197,0.984978,1.044648,37.901321,1.162541
12,2009,High income,8.853303,5.996187,25.702033,24.344444,65.124285,89.98708,94.899165,91.303582,...,15.902777,17.95712,15.088916,14.373873,13.363756,78.389519,0.996739,1.02164,52.393287,1.197128
13,2009,Low income,29.241476,15.537198,16.869275,10.567617,14.53051,74.595446,85.919691,43.6773,...,23.417685,46.029214,28.968072,17.489206,21.428718,32.21226,0.898093,0.733227,10.272654,0.624983
14,2009,Lower middle income,15.356136,13.441442,20.05373,18.453808,44.489679,80.831342,91.1888,62.457138,...,21.619367,30.678232,20.087961,18.131884,17.389674,44.260364,2.843046,0.926409,20.501177,3.198474
15,2009,Upper middle income,9.102668,8.291078,23.394664,17.387542,50.956222,89.913906,96.62454,81.025082,...,15.613637,20.840115,16.49676,15.383748,15.518174,61.320887,0.986022,1.052076,37.506277,1.164491
16,2010,High income,5.625589,3.781217,27.206297,25.165999,65.857188,92.874187,97.556425,89.70033,...,15.206892,16.662085,13.347344,13.975809,12.10836,82.371485,0.996233,1.014134,56.35584,1.198899
17,2010,Low income,29.896052,17.492961,25.946196,19.707193,48.500684,68.533363,80.865061,45.574149,...,25.955194,46.749781,28.723607,17.729367,18.983996,17.406728,0.901693,0.719873,13.17402,0.625397
18,2010,Lower middle income,13.611973,7.896473,21.771657,18.532359,45.790441,86.889124,95.268717,72.691717,...,20.789136,27.171565,18.986868,20.022845,17.988428,46.109148,0.953317,0.946157,26.071032,0.917105
19,2010,Upper middle income,7.769684,6.9012,22.510326,17.81174,50.352639,93.38068,97.890538,83.739804,...,17.14368,21.206325,15.585786,15.804221,15.675414,60.097251,0.983926,1.039134,34.068235,1.145181
20,2011,High income,6.337191,3.177084,28.751573,25.825648,64.919011,82.887277,88.018237,94.488383,...,15.691562,15.059219,12.638197,14.378362,12.121744,85.019085,0.996474,1.00652,54.225275,1.213643
21,2011,Low income,31.742353,19.466585,18.63335,10.195777,21.16497,67.576413,77.206422,45.44357,...,26.533426,48.015199,32.404328,21.119096,19.348722,21.701942,0.904675,0.755165,11.980791,0.626798
22,2011,Lower middle income,12.958242,7.196244,20.404444,16.268671,35.698382,80.461667,90.629356,70.312428,...,20.464564,27.52693,19.181391,19.801136,18.577927,44.352027,0.968498,0.972276,22.830948,0.88605
23,2011,Upper middle income,8.343951,4.928379,22.910925,19.683823,52.616194,86.499698,92.894211,78.832636,...,16.860913,21.846456,16.253836,16.31725,15.148075,64.709505,0.985303,1.039569,38.651211,1.155326
24,2012,High income,6.329731,3.206243,27.016032,26.046426,64.312032,87.940985,94.313797,91.172504,...,14.71624,14.465118,12.475582,13.560417,11.300087,85.951876,0.998694,1.011519,54.078446,1.202704
25,2012,Low income,25.546891,17.464157,29.053551,20.120223,46.980587,80.133838,91.750787,47.6296,...,25.454554,42.724607,28.550762,21.837183,20.174739,24.761404,0.916929,0.739266,20.810346,0.697603
26,2012,Lower middle income,16.190636,6.753509,24.998691,19.71626,40.939794,82.773344,93.65924,70.97213,...,23.102596,27.842731,19.205129,21.675556,18.59187,48.287821,0.983903,0.992291,26.639504,0.943512
27,2012,Upper middle income,8.477806,6.371113,28.042446,18.889955,49.196039,91.617491,97.408897,79.945509,...,17.794499,19.921371,15.67471,16.347273,14.957657,66.27934,0.985215,1.040817,40.601715,1.1884
28,2013,High income,4.685806,2.391183,26.105076,24.55354,61.179393,88.513819,93.997673,91.456494,...,14.043096,14.481292,12.794143,15.312605,12.098814,85.794098,0.999318,1.026596,60.377737,1.216309
29,2013,Low income,26.683709,18.137958,29.595826,21.241067,52.617418,84.982423,90.542596,49.687304,...,25.594072,41.443804,28.307459,22.03081,18.760555,26.237626,0.937217,0.804219,27.016592,0.806736
30,2013,Lower middle income,17.643997,8.596835,22.025878,19.70346,46.187439,81.176064,91.149632,67.757391,...,20.69063,26.343633,18.998384,21.670521,19.855496,51.179539,0.975254,0.987474,26.322809,0.940517
31,2013,Upper middle income,9.752773,6.123991,25.963859,19.864042,50.919372,92.578568,97.378216,81.339736,...,17.576277,19.525324,14.983098,15.980512,15.117964,64.901152,0.98358,1.029342,40.747667,1.158637
32,2014,High income,4.846878,3.377063,32.08072,28.795249,66.721128,93.062708,97.887025,93.381215,...,14.734972,15.646418,12.828277,14.354239,12.326299,88.012821,0.996491,1.027801,61.194274,1.217656
33,2014,Low income,30.93535,15.126764,11.85656,15.57664,36.000808,75.07013,85.842113,52.80225,...,26.62631,40.47458,26.594091,22.419719,21.223025,34.900773,0.927279,0.820739,15.540157,0.695285
34,2014,Lower middle income,19.75089,7.996174,23.120742,21.254885,48.377825,83.458888,94.610272,70.254016,...,21.917365,27.779718,20.008284,20.913598,18.940766,52.683044,2.860862,1.00192,30.117421,3.331644
35,2014,Upper middle income,8.285702,5.535491,25.668729,19.653976,54.299353,91.660003,97.846,84.372676,...,17.53478,18.904035,14.545753,16.416344,14.062378,68.941224,1.008613,1.035243,42.056237,1.187562
36,2015,High income,3.118419,2.46396,32.379292,28.452925,67.15757,95.477892,98.990917,93.308653,...,14.973681,15.831039,12.236546,14.08578,12.968756,87.819468,1.00775,1.018903,61.27793,1.236607
37,2015,Low income,40.990229,16.563632,6.221725,14.307879,8.752547,74.538073,84.916298,47.156874,...,27.629852,43.622016,27.37511,22.520138,24.012302,20.440976,0.950142,0.875395,14.160743,0.780344
38,2015,Lower middle income,16.508052,7.82615,25.693426,25.157148,52.343168,91.337561,97.749561,74.040546,...,21.305475,28.850434,19.281537,17.796114,17.922504,50.332808,0.999653,1.006041,25.549021,0.973208
39,2015,Upper middle income,6.379272,5.335617,25.379768,19.335484,51.262043,91.359865,96.030245,86.617692,...,17.063048,19.051481,14.884122,15.698452,15.060781,67.099297,0.996411,1.032216,43.275816,1.193892
40,2016,High income,3.890302,2.749174,33.280319,27.033409,67.769238,95.053592,98.159719,94.364296,...,14.001442,15.869088,11.953549,13.594618,12.43638,89.56909,0.999881,1.017415,64.953513,1.224544
41,2016,Low income,35.796292,15.437378,21.593305,17.9002,40.965603,95.918008,99.296986,54.905889,...,20.703442,37.339889,21.437556,17.330161,18.554265,27.644101,0.917152,0.833977,29.22968,0.841896
42,2016,Lower middle income,14.791349,6.313271,26.712083,18.034274,47.397117,91.963645,98.135498,74.345967,...,23.336352,26.845261,18.522885,17.964588,18.779358,51.665893,0.968488,0.982394,25.674502,3.315177
43,2016,Upper middle income,7.093609,4.404044,27.777058,22.518015,57.381135,94.698608,98.434096,85.607505,...,15.229495,18.240643,14.624458,13.952017,14.372896,69.611024,0.997982,1.029256,47.751609,1.183906
44,2017,High income,3.260896,2.445933,34.09222,25.299843,62.813261,94.348986,97.847287,93.969485,...,16.060308,15.109063,12.475208,13.853257,12.673666,91.089301,0.99934,1.009395,66.240474,1.212618
45,2017,Low income,31.737467,16.526701,14.89031,13.27771,34.009088,87.608347,93.259045,49.362592,...,23.212881,33.614093,23.04388,17.045749,21.696352,29.845527,0.931015,0.883775,35.312014,0.862327
46,2017,Lower middle income,11.793467,6.367207,25.700832,14.624144,45.958283,85.049346,93.270628,73.953736,...,23.831393,27.057756,19.150721,20.509324,18.33569,53.553185,0.973123,1.015976,27.586549,3.338292
47,2017,Upper middle income,8.076352,5.8754,29.256021,19.530876,55.483859,94.052658,98.448163,83.244948,...,15.529249,18.028478,14.683447,14.772553,13.862755,70.576992,0.994949,1.021092,46.166674,1.217359
48,2018,High income,3.009515,2.102948,34.873002,26.874957,58.107463,94.054658,97.590979,97.449958,...,18.108482,21.781497,14.031681,14.19454,14.270833,89.14188,1.007652,1.025086,66.873027,1.21875
49,2018,Low income,28.116182,17.065026,4.595715,12.842233,28.125393,60.218041,74.858813,54.740165,...,25.750017,33.243264,25.047094,16.455928,21.858268,32.361392,0.9359,0.907487,31.022605,0.846012
50,2018,Lower middle income,12.647239,6.7708,33.026642,22.177793,51.426335,86.756885,95.408001,76.336151,...,20.335513,26.205266,17.071723,19.165894,19.640375,51.893467,0.980837,1.022947,32.000023,3.356867
51,2018,Upper middle income,7.731416,5.648696,28.350357,26.344111,54.315217,92.200929,97.710861,88.21943,...,13.791193,20.778037,14.010334,13.645673,15.446361,70.361712,0.985921,1.020679,47.748289,1.170708
52,2019,High income,3.42925,2.686848,36.039964,28.087172,66.583957,90.338645,95.279664,97.834417,...,26.060026,23.117954,16.910395,17.220444,25.510298,88.058488,1.011273,1.019788,69.017713,1.215336
53,2019,Low income,17.345113,12.117764,39.205654,31.677533,68.130241,83.207027,91.674092,66.835409,...,26.584531,23.388286,21.780247,16.471889,24.940112,51.500913,0.977768,0.970486,47.399393,0.929817
54,2019,Lower middle income,7.960282,7.086315,34.918246,27.961965,55.174182,88.627336,95.048657,79.1619,...,25.830184,23.291094,17.250183,15.970387,25.541943,61.629848,1.008994,1.038926,32.426351,3.379325
55,2019,Upper middle income,6.639364,5.009064,36.14185,23.849416,59.62798,87.995363,95.783891,88.729744,...,25.73191,23.390137,16.50032,14.20455,24.39525,72.744473,0.996073,1.021876,46.92527,1.187448
56,2020,High income,10.032688,7.502291,38.807173,30.144754,68.706041,96.626256,99.380704,86.016787,...,0.38689,0.38689,0.38689,0.38689,0.38689,64.540618,1.009557,1.015723,46.285991,1.064337
57,2020,Low income,14.546589,9.476498,21.519495,20.542054,43.84036,83.711701,88.672023,76.362033,...,0.38689,0.38689,0.38689,0.38689,0.38689,56.5256,0.961682,0.961938,28.494065,0.917556
58,2020,Lower middle income,12.122805,6.052998,35.445615,21.958751,52.241888,93.818805,98.88944,81.598201,...,0.38689,0.38689,0.38689,0.38689,0.38689,56.801269,0.990427,1.027845,36.400241,2.776337
59,2020,Upper middle income,9.973557,7.237501,28.798872,27.70186,61.634899,89.137003,95.442694,88.51548,...,0.38689,0.38689,0.38689,0.38689,0.38689,68.980919,1.005264,1.029586,45.034293,1.122432

In [ ]:
# this cell needed to be run on lab's machine everytime, you might not need to run it
pip install pyspark

In [13]:
import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [14]:
df_final=spark.createDataFrame(df_final)

In [15]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

df_features=df_final.drop("Income Group", "year")

vec_assembler = VectorAssembler(inputCols = df_features.columns, outputCol='features')
feature_data = vec_assembler.transform(df_final)

In [16]:
#scaling the data
from pyspark.ml.feature import StandardScaler
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures", withStd=True, withMean=False)
# Compute summary statistics by fitting the StandardScaler
scalerModel = scaler.fit(feature_data)
# Normalize each feature to have unit standard deviation.
final_data = scalerModel.transform(feature_data)
final_data['scaledFeatures','Income Group'].show()

+--------------------+-------------------+
|      scaledFeatures|       Income Group|
+--------------------+-------------------+
|[0.64422457301884...|        High income|
|[2.95074938097057...|         Low income|
|[2.14540712361238...|Lower middle income|
|[1.21453972748497...|Upper middle income|
|[0.60219079606619...|        High income|
|[2.61126910948628...|         Low income|
|[1.36579782370818...|Lower middle income|
|[0.67507676350342...|Upper middle income|
|[0.72438359743189...|        High income|
|[2.56051796387375...|         Low income|
|[1.48686222862896...|Lower middle income|
|[0.67699195484805...|Upper middle income|
|[0.92662201872911...|        High income|
|[3.06052967169782...|         Low income|
|[1.60723455092524...|Lower middle income|
|[0.95272157528837...|Upper middle income|
|[0.58879660099539...|        High income|
|[3.12904012132542...|         Low income|
|[1.42468348313211...|Lower middle income|
|[0.81320617175104...|Upper middle income|
+--------------------+-------------------+
only showing top 20 rows

In [17]:
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCol="Income Group", outputCol="labels")
final_data=indexer.fit(final_data).transform(final_data)

In [18]:
final_data['scaledFeatures','labels'].show()

+--------------------+------+
|      scaledFeatures|labels|
+--------------------+------+
|[0.64422457301884...|   0.0|
|[2.95074938097057...|   1.0|
|[2.14540712361238...|   2.0|
|[1.21453972748497...|   3.0|
|[0.60219079606619...|   0.0|
|[2.61126910948628...|   1.0|
|[1.36579782370818...|   2.0|
|[0.67507676350342...|   3.0|
|[0.72438359743189...|   0.0|
|[2.56051796387375...|   1.0|
|[1.48686222862896...|   2.0|
|[0.67699195484805...|   3.0|
|[0.92662201872911...|   0.0|
|[3.06052967169782...|   1.0|
|[1.60723455092524...|   2.0|
|[0.95272157528837...|   3.0|
|[0.58879660099539...|   0.0|
|[3.12904012132542...|   1.0|
|[1.42468348313211...|   2.0|
|[0.81320617175104...|   3.0|
+--------------------+------+
only showing top 20 rows

In [19]:
#split data into training and testing
(trainingData, testData) = final_data.randomSplit([0.75, 0.25],seed = 11)

## Using DecisionTree as estimator for CrossVal

In [40]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

# A CrossValidator requires an Estimator, a set of Estimator ParamMaps, and an Evaluator.

evaluator = MulticlassClassificationEvaluator(labelCol="labels", predictionCol="prediction", metricName="accuracy")
dt = DecisionTreeClassifier(labelCol="labels", featuresCol="scaledFeatures")
evaluator = MulticlassClassificationEvaluator(labelCol="labels", predictionCol="prediction", metricName="accuracy")
#ParamGridBuilder to construct a grid of parameters to search over
paramGrid = ParamGridBuilder() \
 .addGrid(dt.maxDepth, [3, 4, 5]) \
 .addGrid(dt.maxBins, [30, 40, 50]) \
 .build()
#declaring  crossvalidation object with k=10
crossval = CrossValidator(estimator=dt,
                          estimatorParamMaps=paramGrid,
                          evaluator=evaluator,
                          numFolds=10)
# Run cross-validation, and choose the best set of parameters.
cvModel = crossval.fit(trainingData)
#predict the test values

# Make predictions on test documents. cvModel uses the best model found (lrModel)
prediction = cvModel.transform(testData)
prediction.select("prediction", "labels", "scaledFeatures").show()

+----------+------+--------------------+
|prediction|labels|      scaledFeatures|
+----------+------+--------------------+
|       1.0|   1.0|[2.61126910948628...|
|       2.0|   2.0|[1.36579782370818...|
|       3.0|   0.0|[0.92662201872911...|
|       1.0|   1.0|[3.06052967169782...|
|       2.0|   2.0|[1.60723455092524...|
|       0.0|   0.0|[0.58879660099539...|
|       1.0|   1.0|[3.12904012132542...|
|       1.0|   1.0|[3.32228137132512...|
|       3.0|   3.0|[0.88732102677010...|
|       1.0|   1.0|[2.79282351822730...|
|       0.0|   0.0|[0.50729364923790...|
|       1.0|   1.0|[4.29020105035477...|
|       3.0|   3.0|[0.66768002947598...|
|       3.0|   3.0|[0.84530324691675...|
|       3.0|   3.0|[0.80920082033583...|
+----------+------+--------------------+

In [41]:
#accuracy on test dataset
accuracy = evaluator.evaluate(prediction)
print("Test Error = %g" % (1.0 - accuracy))

Test Error = 0.0666667

In [42]:
#best model
cvModel.bestModel

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_89f86a9727a0, depth=3, numNodes=9, numClasses=4, numFeatures=20

## Using RandomForest as estimator for CrossVal

In [43]:
from pyspark.ml.classification import RandomForestClassifier

# A CrossValidator requires an Estimator, a set of Estimator ParamMaps, and an Evaluator.

rf = RandomForestClassifier(labelCol="labels", featuresCol="scaledFeatures")
evaluator = MulticlassClassificationEvaluator(labelCol="labels", predictionCol="prediction", metricName="accuracy")
#ParamGridBuilder to construct a grid of parameters to search over
paramGrid = ParamGridBuilder() \
 .addGrid(rf.maxDepth, [2, 4, 6]) \
 .addGrid(rf.maxBins, [15, 30, 45]) \
 .addGrid(rf.numTrees, [3, 4, 5]) \
 .build()
#declaring  crossvalidation object with k=10
crossval = CrossValidator(estimator=rf,
                          estimatorParamMaps=paramGrid,
                          evaluator=evaluator,
                          numFolds=10)
# Run cross-validation, and choose the best set of parameters.
cvModel = crossval.fit(trainingData)
#predict the test values

# Make predictions on test documents. cvModel uses the best model found (lrModel)
prediction = cvModel.transform(testData)
prediction.select("prediction", "labels", "scaledFeatures").show()

+----------+------+--------------------+
|prediction|labels|      scaledFeatures|
+----------+------+--------------------+
|       1.0|   1.0|[2.61126910948628...|
|       2.0|   2.0|[1.36579782370818...|
|       0.0|   0.0|[0.92662201872911...|
|       1.0|   1.0|[3.06052967169782...|
|       2.0|   2.0|[1.60723455092524...|
|       0.0|   0.0|[0.58879660099539...|
|       1.0|   1.0|[3.12904012132542...|
|       1.0|   1.0|[3.32228137132512...|
|       3.0|   3.0|[0.88732102677010...|
|       1.0|   1.0|[2.79282351822730...|
|       0.0|   0.0|[0.50729364923790...|
|       1.0|   1.0|[4.29020105035477...|
|       3.0|   3.0|[0.66768002947598...|
|       0.0|   3.0|[0.84530324691675...|
|       0.0|   3.0|[0.80920082033583...|
+----------+------+--------------------+

In [44]:
#accuracy on test dataset
accuracy = evaluator.evaluate(prediction)
print("Test Error = %g" % (1.0 - accuracy))

Test Error = 0.133333

In [45]:
#best model
cvModel.bestModel

RandomForestClassificationModel: uid=RandomForestClassifier_12a96910f4d9, numTrees=3, numClasses=4, numFeatures=20

## Using MultilayerPerceptron as estimator for CrossVal

In [52]:
from pyspark.ml.classification import MultilayerPerceptronClassifier

mpc = MultilayerPerceptronClassifier(labelCol="labels", featuresCol="scaledFeatures",maxIter=1000)

#ParamGridBuilder to construct a grid of parameters to search over
paramGrid = ParamGridBuilder() \
 .addGrid(mpc.layers, [[20, 3, 4, 3, 4], [20, 7, 5, 7, 4], [20, 12, 8, 12, 4]]) \
 .build()

#declaring  crossvalidation object with k=10
crossval = CrossValidator(estimator=mpc,
                          estimatorParamMaps=paramGrid,
                          evaluator=evaluator,
                          numFolds=10)

# Run cross-validation, and choose the best set of parameters.
cvModel = crossval.fit(trainingData)


# Make predictions on test documents. cvModel uses the best model found 
prediction = cvModel.transform(testData)
prediction.select("prediction", "labels", "scaledFeatures").show()

+----------+------+--------------------+
|prediction|labels|      scaledFeatures|
+----------+------+--------------------+
|       2.0|   1.0|[2.61126910948628...|
|       2.0|   2.0|[1.36579782370818...|
|       0.0|   0.0|[0.92662201872911...|
|       2.0|   1.0|[3.06052967169782...|
|       2.0|   2.0|[1.60723455092524...|
|       0.0|   0.0|[0.58879660099539...|
|       2.0|   1.0|[3.12904012132542...|
|       2.0|   1.0|[3.32228137132512...|
|       3.0|   3.0|[0.88732102677010...|
|       2.0|   1.0|[2.79282351822730...|
|       0.0|   0.0|[0.50729364923790...|
|       2.0|   1.0|[4.29020105035477...|
|       0.0|   3.0|[0.66768002947598...|
|       0.0|   3.0|[0.84530324691675...|
|       0.0|   3.0|[0.80920082033583...|
+----------+------+--------------------+

In [53]:
#accuracy on test dataset
accuracy = evaluator.evaluate(prediction)
print("Test Error = %g" % (1.0 - accuracy))

Test Error = 0.6

In [54]:
#best model
cvModel.bestModel

MultilayerPerceptronClassificationModel: uid=MultilayerPerceptronClassifier_8a1d2f56e018, numLayers=5, numClasses=4, numFeatures=20

according to the performance metrics evaluated above the best model for prediction is:



DecisionTreeClassificationModel: uid=DecisionTreeClassifier_89f86a9727a0, depth=3, numNodes=9, numClasses=4, numFeatures=20